<h1>Games</h1>

<%= link_to 'Game aanmaken', new_game_path %>

<% @games.each do |game| %>
  <%= link_to game do %>
    <p>Game nr: #<%= game.id %> <%= game.title %> <%= game.round_number %></p>
  <% end %>
<% end %>