<h1>Game nr: #<%= @game.id %> <%= @game.title %></h1>

<h2>
  <% if @game.join_deadline > Time.now %>
    Je hebt nog : <span id='join_deadline'><%= '%.0f' % ((@game.join_deadline + 1) - Time.now)%></span> seconden om mee te doen!
  <% else %>
    Ronde <%= @game.round_number %> Volgende ronde in: <span id='next_round'><%= '%.0f' % ((@game.next_round + 1) - Time.now)%></span>
  <% end %>
</h2>

<script type="text/javascript">
  var join_deadline = <%= '%.0f' % ((@game.join_deadline + 1) - Time.now)%>
  setInterval( function() {
      join_deadline--;
      $('#join_deadline').html(join_deadline);
      if (join_deadline === 0) {
          location.reload();
      }    
  }, 1000 );

  var next_round = <%= '%.0f' % ((@game.next_round + 1) - Time.now)%>
  setInterval( function() {
      next_round--;
      $('#next_round').html(next_round);
      if (next_round === 0) {
          location.reload();
      }    
  }, 1000 );
</script>

<%= link_to 'Meedoen', new_game_pawn_path(@game) if @game.join_deadline > Time.now %>

<% @game.pawns.each do |pawn| %>
  <div class='pawn', style="background:<%= pawn.color %>"></div>
  <p><%= pawn.user.email %></p>
<% end %>