<!DOCTYPE html>
<html>
  <head>
    <title>Tabletop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= notice %>
    <%= yield %>

  </body>
</html>
